.cont{
    width: 1200px;
    margin: 0 auto;
    
    
}

.header{
    width: 100%;
    margin: 0 auto;
    height: 90px;
    background-color: rgb(5, 56, 26); 
}

.logo{
    padding: 12px;
    float: left; 
}

.logo h3{
    
    float: right;
    color: antiquewhite;
}

.logo img{
    width: 60px;
    height: 60px;
}

.menu{
        float: right;
    padding-inline-end: 10px;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    display:inline;
}

.menu ul li a{
    text-decoration:none ;
    padding-right: 10px;
    font-size: 20px;
    color: blanchedalmond;
}

.menu ul li a:hover{
    background: rgb(44, 6, 6);
    padding: 10px;
    color:antiquewhite
}

/*Slider part Start*/
.slider{
    width: 1200px;
    margin: 0 auto;
    background: rgba(245, 29, 0, 0.815);
    background-repeat: no-repeat;
    background-size:cover ;
    height: 400px;
    position: relative;
}
.slider p1{
    left: 0px;
    font-size: 19px;
    border: 1px solid rgb(17, 1, 1);
    background-color: aquamarine;
    position: absolute;
}

.slider .Notice{
    position: absolute;
    color: aliceblue;
    padding: 2px;
    border: 1px solid none;
    overflow: auto;
    animation-name: notice;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes notice{
    0% {left: 6%; top:0%}
    100%{left:60px; top: 0px;}

}
.slider img{
    width: 1200px;
    height: 400px;
    top: 7.3%;
    opacity: 1;
    position: relative;
 }
.slider h1{
    margin: 0 auto;
    position: absolute ;
    top: 10%;
    left: 12%;
    font-size: 4em;
    text-align: center;
    text-shadow: 3px 2px 4px rgb(88, 8, 8);
    color: rgb(27, 34, 124);

}
.slider p{
    
    position: absolute;
    top: 27%;
    left: 18%;
    text-align: center;
    color: rgb(1, 3, 1);
    text-decoration: none;
    border: 2px solid tomato;
    padding: 8px;
    background: rgba(163, 252, 252, 0.527);
    border-radius: 30px;
}
.slider a:hover{
    background: red;
}

/*Slider End*/

/* Hero Service Start */
.hero{
    width:1200px ;
    margin: 0 auto;
    }
.service-title{
    margin-top: 40px;
    top: 50%;
    text-align: center;
    position: relative;
}

.hero h1{
    text-align: center;
    text-decoration-line: underline ;
    text-decoration-style: double;
    text-decoration-color: blue;
    color: rgb(0, 0, 0);
    position: relative;
}
.hero p{
    text-align: center;
    position: relative;
}

.service-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 5px;
    position: relative;


}

.service-box .card img{
    width: 50px;
    height: 50px;
    
    
}
.service-box .card h2{
    text-align: center;
    color: brown;
    
}
.service-box .card{
    padding-top: 8px;
    background-color: aquamarine;
    text-align: center;
    border: 1px solid burlywood;
    border-radius: 5%;
    height: 280px;
}
.service-box .card a{
    text-decoration: none;
    padding: 10px;
    border: 1px solid gray ;
    border-radius: 10%;
}
.service-box .card a:hover{
    background-color: black;
}

.service-box .marquee{
    left: 10px;
}
/* Hero Service End */

/* Footer Part Start */
.main-footer{
    width: 1200px;
    margin: 10px auto;
   
}

.footer-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    gap: 2px;
    position: relative;
}


.footer-card img{
    width: 30px;
    height: 30px;
    
    
}

.footer-card h1{
    text-align: center;
    color: rgb(41, 4, 77);
    position: relative;
}

.footer-card .card{
    padding: 20px;
    display: grid;
    background-color: rgba(0, 0, 0, 0.479);
    border: 1px solid rgb(46, 30, 7);
    border-radius: 5%;
    
    }

.card-1 img{
    position: relative;
    top: 4%;
}
.link img{
    position: relative;
    top: 20%;
}
.footer-card .card p{
    font-size: 24px;
    text-align: left;
    
}

.card a{
    
    text-decoration: none;
    font-size: 20px;
    position:relative;   
}

.footer-bottom{
    text-align: right;
    font-size: 20px;
    border: solid bisque;
    background-color: antiquewhite;
}